.gitignore
.gitattributes
.DS_Store
build/
/BSB_LAN/BSB_LAN_config.h
/BSB_LAN/BSB_LAN_custom.h
/BSB_LAN/BSB_LAN_custom_defs.h
nohup.out
*.old
*.txt
*.csv
*.bak
*.sh
*.temp
defs-brute-force-*.h
localization/conv-csv.pl
BSB_LAN/scripts/old
BSB_LAN/scripts/intern
