.gitignore
.gitattributes
.DS_Store
build/
BSB_lan_config.h
BSB_lan_custom.h
BSB_lan_custom_defs.h
nohup.out
src/BSB/BSBSoftwareSerial.cpp.old
src/BSB/BSBSoftwareSerial.h.old
*.txt
*.csv
*.bak
*.sh
defs-brute-force-*.h
localization/conv-csv.pl
OEM-Codes.txt
BSB_LAN/scripts/old
BSB_LAN/scripts/intern
