.gitignore
.gitattributes
.DS_Store
nohup.out
build/
BSB_LAN/BSB_LAN_config.h
BSB_LAN/BSB_LAN_custom_global.h
BSB_LAN/BSB_LAN_custom_setup.h
BSB_LAN/BSB_LAN_custom.h
BSB_LAN/BSB_LAN_custom_defs.h
BSB_LAN/localization/*.csv
BSB_LAN/localization/conv-csv.pl
defs-brute-force-*.h
*.old
*.bak
*.temp
*.tmp
/BSB_LAN/scripts/intern
/BSB_LAN/scripts/old
/BSB_LAN/scripts/*.sh
/BSB_LAN/scripts/*.txt
/BSB_LAN/scripts/*.csv
