name: Build localization
on:
  workflow_dispatch:
  push:
    paths:
      - 'BSB_LAN/localization/**'
      - '.github/workflows/localization.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  localizator:
    name: Build language resources
    runs-on: ubuntu-latest
    steps:
      - name: Cancel if triggered by bot
        if: github.actor == 'github-actions[bot]'
        run: echo "Triggered by bot, skipping..." && exit 0
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Build UNDEFs, json and js files
        run: cd BSB_LAN/localization && ./create-undefs.pl && cd ..
      - name: Copy files to repo
        uses: test-room-7/action-update-file@v1
        with:
          file-path: |
            BSB_LAN/localization/json/*.json
            BSB_LAN/localization/www/*.
            BSB_LAN/localization/UNDEF_LANG_*.h
            BSB_LAN/localization/LANG_C.h
          commit-msg: 'Update language resources [skip ci]'
          github-token: ${{ secrets.GITHUB_TOKEN }}
           
