name: PlatformIO CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
        - "3.6"
        - "3.7"
        - "3.8"
        bsb_lan_config:
        - BSB_lan_config_default.h
        - BSB_lan_config_mqtt.h

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python_version }}

    - name: Cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/pip
          ~/.platformio
        key: ${{ runner.os }}-python${{ matrix.python_version }}

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade platformio
        platformio update

        # Ethernet library
        platformio lib -g install 872

    - name: Setup config
      run: |
        cp tests/config/${{ matrix.bsb_lan_config }} BSB_lan_config.h

    - name: Run PlatformIO CI
      run: platformio ci --board=due .
